# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java

**Objectives:**
- List popular languages for Data Science.
   - Python
   - R
   - Java
   - SQL
   - Java Script

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.

|Data Science Tools|
|----|
|RStudio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [17]:
#This will convert 200 minutes to hours by diving by 60
min = int(input("Enter Minutes :--> "))
print("Hour : Minute :--> ", int(min/60), " : ", min % 60)

Enter Minutes :-->  200

Hour : Minute :-->  3  :  20

## Author
   Bodugu Pavan Kalyan Reddy